body { 
  background-image: url("https://wallpaperbrowse.com/media/images/White-Background-9B1.jpg")
  background-size: cover;
  background-repeat: no-repeat;
}




.page-title {
  text align: center;
  font-weight: 100; 
}



h1 { font-family:Palatino,'Palatino Linotype', serif; font-size:64px; color: blue;}










